{
  "semi": false,
  "importOrder": [
    "^@/core/(.*)$",
    "^@/app/(.*)$",
    "^@/pages/(.*)$",
    "^@/modules/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/constants/(.*)$",
    "^@/interfaces/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
